// colors
$color-white: #fff;
$color-dark-blue: #070724;
$color-gray-blue: #38384F;
$color-gray: #838391;
$color-light-gray: #979797;
$color-light-blue: #419EBB;
$color-dark-yellow: #EDA249;
$color-purple: #6f2ed6;
$color-dark-orange: #D14C32;
$color-red: #D83A34;
$color-orange: #CD5120;
$color-sea-green: #1ec2a4;
$color-blue: #2d68f0;

$color-body: $color-dark-blue;
$color-text: $color-white;
$color-text-dark: $color-dark-blue;

// Typography
$font-body: 'Spartan', sans-serif;
$font-heading: 'Antonio', sans-serif;


$font-size-normal: 14px;
$font-size-normal-mobile: 11px;
$font-size-small: 11px;
$font-size-small-mobile: 8px;

$font-size-h1: 80px;
$font-size-h1-mobile: 40px;
$font-size-h2: 40px;
$font-size-h2-mobile: 20px;
$font-size-h3: 12px;
$font-size-h4: 11px;

$font-weight-normal: 400;
$font-weight-light: 300;
$font-weight-medium: 500;
$font-weight-bold: 700;
